@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');

html{
    box-sizing: border-box;

}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}
.wrapper, .intro{
    display: grid;
    place-items: center;
    text-align: center;
    
}
.intro{
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-bottom: 4rem;
}
.logo{
    margin-top: 5rem;
}
.logo img{
    max-height: 100px;
}

 .btns .btn:nth-child(1){
    background-color: hsl(171, 66%, 44%);
    margin-right: 0.6rem;
}
.btns{
    padding: 1.5rem 0;
}
/* showcase */

.showcase{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0;
}
.showcase .left{
    margin-right: 1rem;
    
}

.showcase .right{
    padding: 0 2.5rem;
    text-align: start;

}
.showcase .right p{
    margin-top: 0.3rem;
    max-width: 35ch;
   
}
.showcase .right h2{
    padding-top:1rem ;
    
}

/* showcase */

/* grid 1 */

.grid1{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    margin: 3rem 1rem;
}
.card{
    padding: 0 3rem;
}

/* grid 1 */

/* grid 2 */

.grid2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    margin: 3.5rem 0;
}
.grid2 img{
    padding: 1rem;
}
.last-header{
    margin-top: 3.5rem;
}


/* grid 2 */

/* footer */

.footer{
    display: flex;
    height: 120px;
    justify-content: space-around;
    background-color: hsl(204, 33%, 94%);
    list-style: none;
    align-items: center;
}
.options{
    display: flex;
}
.options > * {
    padding: 0 3rem;
}
.options ul li:hover{
    cursor: pointer;
    color: hsl(171, 66%, 44%);
}
.logo-2{
    align-self: center;
}
.logo-2 img{
    max-width: 50px;
    max-height: 50px;
}
.social-media-icons ul{
    display: flex;
    font-size: 1.3rem;
}
.social-media-icons ul li a{
    color: hsl(210, 10%, 33%);
    transition: 600ms ease;
}
.social-media-icons ul li a:hover{
    color: hsl(171, 77%, 47%);
}

.social-media-icons ul li:nth-child(2){
    padding: 0 1rem;
    
}
.sr-only{
    display: none;
}

/* footer */

/* media queries */

@media (max-width:900px){
    .showcase{
        grid-template-columns: 1fr;
    }
    .showcase .right{
        text-align: center;
        justify-self: center;
    }
    .wrapper .showcase .left img,.wrapper img {
        max-width: 100%; 
    }
    .grid2 img{
        padding: 2rem ;
    }
    .showcase .left{
        margin-right: 0;
    }

}
@media (max-width:764px){
    .footer{
        flex-direction: column;
        height: 100%;
        
    }
    .footer .options{
        width: 100%;
        flex-direction: column;
        padding: 1rem 0;
    }
    .footer .options ul li{
        text-align: center;
    }
    .footer .options ul{
        margin: 0;
        padding: 0;
    }
    .options > * {
        padding: 0 ;
    }
    .social-media-icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .social-media-icons ul li {
        transform: translateX(-20px);
        

    }
    .btns{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .btns .btn{
        width: 80%;
        margin-top: 1rem;
    }
    .btns .btn:nth-child(1){
        margin-right: 0;
    }
    .logo-2{
        margin: 1rem 0;
    }
    .intro{
        background-image: url(images/bg-header-mobile.png);
    }

}
@media (max-width:600px){
    .grid1 .card img,.grid2 img{
        max-width: 100%;
    }
    .grid1, .grid2{
        grid-template-columns: 1fr;
    }

}

/* media queries */

/* utilities */

h1,h2{
    color: hsl(210, 10%, 33%);
    font-weight: 700;
    margin-bottom: 0;
}

p {
    max-width: 60ch;
    line-height: 1.5rem;
    color: hsl(201, 11%, 66%);
}

.ma-t{
    margin-top: 3.5rem;
}

.btn{
    background-color: hsl(233, 100%, 69%);
    padding: 0.9rem 1.7rem;
    text-decoration: none;
    color: white;
    border-radius: 2rem;
    transition: 600ms ease;
}
.btn:hover{
    opacity: 0.7;
}
ul{
    list-style: none;
    line-height: 2rem;
    align-items: flex-start;
}
