@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');

html{
    box-sizing: border-box;

}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}
.wrapper, .intro{
    display: grid;
    place-items: center;
    text-align: center;
    
}
.intro{
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-bottom: 4rem;
}
.logo{
    margin-top: 5rem;
}
.logo img{
    max-height: 100px;
}

 .btns .btn:nth-child(1){
    background-color: hsl(171, 66%, 44%);
    margin-right: 0.6rem;
}
.btns{
    padding: 1.5rem 0;
}
/* showcase */

.showcase{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0;
}
.showcase .left{
    margin-right: 1rem;
    
}

.showcase .right{
    padding: 0 2.5rem;
    text-align: start;

}
.showcase .right p{
    margin-top: 0.3rem;
    max-width: 35ch;
   
}
.showcase .right h2{
    padding-top:1rem ;
    
}

/* showcase */

/* grid 1 */

.grid1{
    display: grid;
    min-width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    margin: 3rem 1rem;
}
.card{
    padding: 0 3rem;
}

/* grid 1 */

/* grid 2 */

.grid2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    margin: 3.5rem 0;
}
.grid2 img{
    padding: 1rem;
}
.last-header{
    margin-top: 3.5rem;
}


/* grid 2 */

/* footer */

.footer{
    display: flex;
    height: 120px;
    justify-content: space-around;
    background-color: hsl(204, 33%, 94%);
    list-style: none;
    align-items: center;
}
.options{
    display: flex;
}
.options > * {
    padding: 0 3rem;
}
.logo-2{
    align-self: center;
}
.logo-2 img{
    max-width: 50px;
    max-height: 50px;
}
.social-media-icons ul{
    display: flex;
    font-size: 1.3rem;
}
.social-media-icons ul li a{
    color: hsl(210, 10%, 33%);
}
.social-media-icons ul li:nth-child(2){
    padding: 0 1rem;
    
}

/* footer */

/* utilities */

h1,h2{
    color: hsl(210, 10%, 33%);
    font-weight: 700;
    margin-bottom: 0;
}

p {
    max-width: 60ch;
    line-height: 1.5rem;
    color: hsl(201, 11%, 66%);
}

.ma-t{
    margin-top: 3.5rem;
}

.btn{
    background-color: hsl(233, 100%, 69%);
    padding: 0.9rem 1.7rem;
    text-decoration: none;
    color: white;
    border-radius: 2rem;
}
ul{
    list-style: none;
    line-height: 2rem;
    align-items: flex-start;
}